# Dependencies
node_modules/

# Build Outputs
dist/
build/
out/
.next/

# Tooling Caches
.turbo/
.nx/
.eslintcache
*.tsbuildinfo

# Testing & Logs
coverage/
*.log
.pids/

# Environment Variables (Crucial for Security!)
.env
.env.local
.env.*.local