@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  @apply bg-transparent text-neutral-900 antialiased dark:text-neutral-50;
  font-family: 'Inter', sans-serif;
}
